@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Manrope" sans-serif;
    text-align: left;
}


/*---left div section---*/

.aid {
    color: #007bff;
}

.dash_options h3 {
    margin: .8em 0 1.5em 0;
}

.profile .details {
    display: inline-block;
}

.profile img {
    margin-top: -2em;
}

.details h5 {
    font-size: 14px;
}

.details p {
    font-size: 11px;
}

.dash_options .profile {
    margin-bottom: 2em;
}

.selections .fas {
    margin-bottom: 1em;
}

.selections a {
    text-decoration: none;
}

.learn_more {
    margin-top: 2em;
    margin-bottom: 2.5em;
    width: auto;
}

.learn_more img {
    width: auto;
}

.learn_more .btn {
    font-size: 8.6px;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}

.switch label {
    font-size: 0.8em;
}

.med_aid .dash_options {
    width: 20%;
    height: 100vh;
    background-color: #fff;
    padding: 1em 2em;
}


/*-left div--*/

.input-group,
.form-outline,
.learn_more {
    position: relative;
    padding-left: 12px;
}

.fa-search {
    position: absolute;
    right: 7%;
    top: 20%
}

.fa-bell {
    position: absolute;
    right: 1%;
    top: 20%;
}

.fa-cog {
    position: absolute;
    right: 5%;
    top: 20%;
}

.med_aid .dash_main {
    width: 80%;
    min-height: 100vh;
    background-color: #FAFAFA;
    padding: 1em 2em 1em 2em;
}

.dash_main {
    text-align: left;
}

.medical h4 {
    display: inline;
    justify-content: space-between;
}

.medical span {
    color: #007bff;
}

.medical strong {
    float: right;
}


/*--list of cases---*/

#cases {
    padding-left: 12px;
}


/*--cards section--*/

.all-cases-text h5 {
    font-size: 16px;
    color: #007bff;
    font-weight: 500;
}

.all-cases-text p {
    color: #2AD195;
}

.card-text {
    color: #808080;
    font-size: 13px;
}

.verify-btn {
    width: 40%;
}