@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}

.h4 {
    text-align: left;
    margin-bottom: 20px;
}
.h5 {
    margin-bottom:2rem;
    text-align:left;
}
.h5>span {
    color: #007bff;
}
.h5>strong {
    margin-left: 15rem;
} 
.container {
   align-items: flex-end;
}
.d-grid:hover {
    color:dodgerblue;
}
.buttons {
    justify-content: space-between;
}
.nav.d-flex {
   margin-bottom: 1rem;
}
.nav.d-flex:hover{
    color:inherit;
    
}


