@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
}

/*
=========== Sign Up =============
*/

.input-danger{
    border: 1.5px solid red !important;
}

.input-success{
    border: 1.5px solid green !important;
}

a.logo{
    text-decoration: none;
    color: #fff !important;
    font-size: 25px;
    padding: 60px !important;
    font-weight: 500;
}

div.medical-issue{
    position: absolute;
    width: 700px;
    height: 650px;
    left: 0px;
    top: 0px;
    padding: 30px;
    max-width: 550px;
    margin: auto;
    background: linear-gradient(0deg, rgba(8, 26, 43, 0.001), rgba(8, 26, 43, 0.3)),
    url(../img/core-value-desktop.png);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
}

div.lets-help{
    margin: auto;
    max-width: 50vw !important;
    color: #fff;
    padding: 60px;
    margin-top: 60px;
    font-size: 36px;
    font-weight: 500;
}

div.lets-help-md {
    color: hsl(0, 0%, 0%);
    padding-bottom: 30px !important;
    font-size: 36px;
    font-weight: 500;
    line-height: 32px;

    @media (min-width: 785px) {
        display: none !important;
    }
}

div.create_account {
    margin-top: 80px !important;
    max-width: 400px;
    margin: auto;
}

form#sign_up {

    label{
    font-weight: 400;
    }

    input{
        height: 50px;
        border-radius: 12px;
        color: rgb(7, 6, 6) !important;
        font-size: 15px;
        border-color: rgb(172, 163, 163) !important;
    }

    input:focus,
    input:active{
        color: #000 !important;
        font-size: 16px;
        border-color: rgb(172, 163, 163) !important;
    }

    a.register-btn{
        padding: 12px;
        border-radius: 12px;
        font-weight: 500;
    }
}

// Media Queries

// 790px Screens
@media screen and (max-width: 790px){
    div.medical-issue{
        display: none !important;
    }

    div.col-lg-4.col-md-4{
        display: none !important;
    }

    div.create_account{
        margin: auto !important;
        padding-bottom: 40px;
        padding-top: 40px;
        width: 80vw !important;
    }
}

// 850px Screens
@media screen and (max-width: 850px) {
    div.medical-issue{
        width: 50vw;
    }

    div.create_account {
        width: 50vw;
    }
}


// 1300px Screens
@media screen and (max-width: 1300px) {
    div.create_account {
        margin-right: 100px;
    }
}

// 1100px Screens
@media screen and (max-width: 1100px){
    div.create_account{
        margin-right: 00px;
    }
}

// 974px Screens 
@media screen and (max-width: 974px) {
    div.medical-issue{
        width: 50vw !important;
    }
    div.create_account {
        margin-right: 00px;
    }
}