@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}
 
.administrator {
    text-align: left;
}

a:hover {
    text-decoration: none;
    color:rgb(26, 113, 199);
}

ul {
    text-align: justify;
    justify-content: space-around;
}

ul.img {
    background-color: deepskyblue;
}
.Sidebar a span:first-child {
    padding: 0rem 1rem 0rem;
}